body {
  font-family: Roboto, sans-serif;
}

/* Hide all sections by default */
.content-region {
  display: none;
}

/* Show About by default */
#About {
  display: block;
}

/* Highlight active menu item */
.main-menu a.active {
  font-weight: bold;
  text-decoration: underline;
}



